@import url(../fonts/Sketch_Block_Bold/stylesheet.css);
@import url(../fonts/sketchy/stylesheet.css);
@import url(../fonts/TeXGyrePagella-Regular/stylesheet.css);
@import url(../fonts/Vinegar/stylesheet.css);
@import url(../fonts/angelina/stylesheet.css);

div._1{
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, rgb(0,0,0)),
        color-stop(0.4, rgb(64,64,64)),
        color-stop(0.41, rgb(128,128,128)),
        color-stop(0.9, rgb(255,255,255))
    );
    background-image: linear-gradient(bottom, rgb(198,176,210) 24%, rgb(238,212,252) 62%, rgb(255,255,255) 81%);
    position:absolute;
    top:0px;
    left:0px;
    height:100px;
}

.content {
    /*box-shadow:3px 3px 6px 6px #454546;*/
    margin-top: 70px;
    margin-bottom: 70px;
}

aside {
    position:absolute;
    top:70px;
	text-align: right;
    right:0px;
    width: 80%;
	padding: 0 10%;	
    color:rgb(232,232,232);
    z-index: 1;
}

section > div#map {
	margin: 70px;
	padding: 0px;
	width: 100%;
	height: 100%;
}

#map {
    position:absolute;
    top: 50px;
    left:0px;
    bottom:50px;
    right:0px;
}

#grouptype_selector {
    position:absolute;
    bottom: 50px;
    left: 0px;
}

.navbar-collapse .navbar-nav.navbar-right:last-child.navbar-login {
    margin-right: 100px;
}

.error-group label {
    color: darkred;
}

.tooltip ul {
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
}

#contactCollection {
    padding-left: 0px;
}

.form-horizontal .form-inline .form-group {
    margin-left: 0px;
    margin-right: 0px;
    width: 30%;
}
/*
.navbar-inverse .navbar-inner {
    padding-right: 150px;
}
*//*
.navbar-inverse .nav>li>.hybridauth>a {
    color: #999999;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    float:none;
    padding: 10px 15px 10px;
    text-decoration:none;
}*/

.fork-on-github{
    border: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10000;
    display:block;
}

/* handle styling of ad and remove-buttons */
#contactCollection {
    list-style-type: none;
}

#contactCollection span {
    margin-left: 0.5em;
}

#contactCollection .add {
    color: green;
}

#contactCollection .remove {
    color: red;
}

.leaflet-popup-content ul {
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
}

.leaflet-popup-content li {
    display:inline-block;
    padding-left: 0.5em;
}

.leaflet-container a {
    color: rgb(64,64,64);
}

.leaflet-div-icon {
    background: transparent;
    border: none;
}

.leaflet-marker-icon .number{
    position: relative;
    top: -40px;
    font-size: 16px;
    width: 25px;
    text-align: center;
    color: rgb(96,96,96);
    /*text-shadow: 0 0 3px darkgray;*/
}

.phpug-hashtag:before {
    content: '#';
}

@media(max-width: 979px){
    .fork-on-github{
        display:none;
    }
    .navbar-login {
        margin-right: 0;
    }

    .navbar-fixed-top,
    .navbar-fixed-bottom {
        position:fixed;
        margin-left: 0;
        margin-right: 0;
    }
    .content {
        margin-top: 60px;
        margin-bottom: 60px;
    }
    #map {
        top: 50px;
        bottom: 50px;
    }

    .navbar-inverse .navbar-inner {
        padding-right: 20px;
    }

}

/* Include Icomoon */
@font-face {
    font-family: 'icomoon';
    src:url('/fonts/phpug/icomoon/icomoon.eot?l3lo');
    src:url('/fonts/phpug/fonts/icomoon/icomoon.eot?l3lo#iefix') format('embedded-opentype'),
    url('/fonts/phpug/icomoon/icomoon.ttf?l3lo') format('truetype'),
    url('/fonts/phpug/icomoon/icomoon.woff?l3lo') format('woff'),
    url('/fonts/phpug/icomoon/icomoon.svg?l3lo#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-meetup-logo:before {
    content: "\e900";
}

/* END Icomoon */