#team dt {clear: both; width:100px; height:100px; display:inline-block; margin: 10px;padding:0px;}
#team dd {display:inline-block;height:100px;}
#team dd a, #team dd a:hover, #team dd a:active, #team dd a:visited, #team dd a:link {
    color: black;
}
