/*@import url(../../fonts/phpug/Sketch_Block_Bold/stylesheet.css);
@import url(../../fonts/phpug/sketchy/stylesheet.css);
@import url(../../fonts/phpug/TeXGyrePagella-Regular/stylesheet.css);
@import url(../../fonts/phpug/Vinegar/stylesheet.css);
@import url(../../fonts/phpug/angelina/stylesheet.css); */
@import url("../../fonts/phpug/Handel Gothic/fonts.css");


body {
    position:absolute;
    top:0px;
    bottom:0px;
    padding-top:100px;
    padding-bottom: 50px;
    left:0px;
    right:0px;
    background-color: transparent;
}

div._1{
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, rgb(0,0,0)),
        color-stop(0.4, rgb(64,64,64)),
        color-stop(0.41, rgb(128,128,128)),
        color-stop(0.9, rgb(255,255,255))
    );
    background-image: linear-gradient(bottom, rgb(198,176,210) 24%, rgb(238,212,252) 62%, rgb(255,255,255) 81%);
    position:absolute;
    top:0px;
    left:0px;
    height:100px;
}

header h1, header h2{
position: relative;
    text-align:left;
    padding-left:20px;
    z-index:10;
    font-family:'Conv_Handel Gothic',sans-serif;
    color:rgb(232,232,232);
    font-style: italic;
}

.leaflet-container .leaflet-control-attribution {
    font-size:10px;
}
header h1 {
    font-size:53px;
    font-weight:500;
    line-height:53px;
    
}
footer a, aside .nav>li>a{
    text-decoration:none;
    background:transparent;
    color:rgb(232,232,232);
}
footer a:link, aside a:link{
    color:rgb(232,232,232);
}
footer a:active{
    color:rgb(128,0,0);
    /*color:rgb(232,232,232);*/
}
footer a:visited{
    color:rgb(232,232,232);
}
footer a:hover, aside .nav>li>a:hover{
    color:rgb(180,200,180);
    background-color:transparent;
}

header h2 {
    font-size:14px;
    font-weight:700;
    line-height:14px;
}

header{
    margin: 0;
    height:120px;
    position: absolute;
    top:0px;
    width:100%;
/*    border-radius:0 0 50px 50px;*/
    background-color:#454546;
    color:rgb(232,232,232);
    background-image: -moz-linear-gradient(top, #454546, #808080);
    background-image: -ms-linear-gradient(top, #454546, #808080);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#454546), to(#808080));
    background-image: -webkit-linear-gradient(top, #454546, #808080);
    background-image: -o-linear-gradient(top, #454546, #808080);
    background-image: linear-gradient(top, #454546, #808080);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#454546', endColorstr='#808080', GradientType=0);
}

section {
	padding: 10px;
}

body>section {
    width:80%;
    height:100%;
    position:relative;
    padding: 0px;
    margin:0 10%;
    background-color:rgb(255,255,255);
    border: 0px solid gray;
    z-index:2;
    box-shadow:3px 3px 6px 6px #454546;
    overflow: auto;
}

footer {
    width:100%;
    margin-bottom:0px;
    text-align:center;
    line-height:20px;
    padding-top: 30px;
    height:40px;
    font-size:10px;
    color:gray;
    background-color:#454546;
    background-image: -moz-linear-gradient(top, #808080, #454546);
    background-image: -ms-linear-gradient(top, #808080, #454546);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#808080), from(#454546));
    background-image: -webkit-linear-gradient(top, #808080, #454546);
    background-image: -o-linear-gradient(top, #808080, #454546);
    background-image: linear-gradient(top, #808080, #454546);
    filter: progid:DXImageTransform.Microsoft.gradient(endColorstr='#454546', startColorstr='#808080', GradientType=0);
    position:relative;
    top:-20px;
    color:rgb(232,232,232);
}

aside {
    position:absolute;
    top:70px;
	text-align: right;
    right:0px;
    width: 80%;
	padding: 0 10%;	
    color:rgb(232,232,232);
    z-index: 1;
}

aside ul
{
    list-style-type:none;
    box-shadow:2px 2px 6px 6px #454546;
    position:relative;
    display: inline-block;
    z-index:4;
}

aside li {
    display: inline-block;
    padding:0 10px;
    height:32px;
    line-height:32px;
    border-left: 1px solid rgb(196,196,196);
    background-image: -moz-linear-gradient(top, #808080, #454546);
    background-image: -ms-linear-gradient(top, #808080, #454546);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#808080), to(#454546));
    background-image: -webkit-linear-gradient(top, #808080, #454546);
    background-image: -o-linear-gradient(top, #808080, #454546);
    background-image: linear-gradient(top, #808080, #454546);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#808080', endColorstr='#454546', GradientType=0);
/*    border-radius:16px 16px 0 0; */

}

aside li:first-child {
    border-left-width: 0;
}
aside li>a {
    color: rgb(196,196,196);
}
aside li.active{
    background-image: -moz-linear-gradient(top, #454546, #808080);
    background-image: -ms-linear-gradient(top, #454546, #808080);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#454546), from(#808080));
    background-image: -webkit-linear-gradient(top, #454546, #808080);
    background-image: -o-linear-gradient(top, #454546, #808080);
    background-image: linear-gradient(top, #454546, #808080);
    filter: progid:DXImageTransform.Microsoft.gradient(endColorstr='#808080', startColorstr='#454546', GradientType=0);
    z-index:3;
}
 .navigation li.active>a{
    color: rgb(128,196,128);
}
.navigation li>a:hover{
    color: rgb(196,128,128);
}
.btn-success {
  background-color: #57a900;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900 \9;
}

div.container a.brand {
    background: url("../images/zf2-logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}

section > div {
	padding: 10px;
}

section > div#map {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
}

section > div#grouptype_selector {
	bottom: 10px;
	height: 16px;
	min-width: 150px;
	left:0px;
	position:absolute;
}

.fork-on-github img {
    border: 0;
    position: absolute;
 	right: 0;
 	top: 0;
	z-index: 0;
}


.popup > h1 {
	font-size:14px;
}
.popup > ul {
	liststyletype: none;
    padding: 0px;
    margin: 0px;
}
.popup li {
	display: inline-block;
}

.popup li>a {
	display: inline-block;
	width: 16px;
    height: 16px;
    margin: 2px;
    text-indent: -10000px;
    background: transparent none center no-repeat;
}

.popup li>a.twitter { background-image: url(../../img/phpug/services/twitter.png);}
.popup li>a.icalendar { background-image: url(../../img/phpug/services/icalendar.png);}
.popup li>a.mail { background-image: url(../../img/phpug/services/mail.png);}

.navigation{margin-left:0;margin-bottom:18px;list-style:none;}
.navigation>li>a{text-decoration:none; background-color:transparent;}
.navigation>li>a:hover{text-decoration:none; background-color:transparent;}
.navigation>li>a:visited{text-decoration:none; background-color:transparent;}
.navigation>li>a:active{text-decoration:none; background-color:transparent;}

footer>.navigation>li {
    display:inline-block;
    width: auto;
    white-space: nowrap;
    border: 0 solid rgb(192,192,192);
    border-right-width: 1px;
    padding: 0 10px;
    height: 20px;
    line-height:20px;
    margin:0px;
}

footer>.navigation>.active {
    background-image: -moz-linear-gradient(top, #454546, #808080);
    background-image: -ms-linear-gradient(top, #454546, #808080);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#454546), from(#808080));
    background-image: -webkit-linear-gradient(top, #454546, #808080);
    background-image: -o-linear-gradient(top, #454546, #808080);
    background-image: linear-gradient(top, #454546, #808080);
    filter: progid:DXImageTransform.Microsoft.gradient(endColorstr='#808080', startColorstr='#454546', GradientType=0);

}

footer>.navigation>li:first-child {
    border-left-width: 1px;
}

footer>.navigation {
    display: inline-block;
}

header {
    background-color: black;
}
header h1 {
    text-shadow: 2px 2px 0px rgba(0,0,0,0.5);
    color: rgba(128,128,128,0.5);
}
header h2 {
    text-shadow: 1px 1px 0px rgba(0,0,0,0.5);
    color: rgba(128,128,128,0.5);
}

header a {
    text-decoration: none;
}
header a:hover {
    color: rgba(128,128,128,0.7);
}
header a:visited {
    color: rgba(128,128,128,0.7);
}
header a:link {
    color: rgba(128,128,128,0.7);
}
header a:active {
    color: rgba(128,128,128,0.7);
}